@import "variables.less";
html,
body {
    margin: 0;
    height: 100%;
    font-family: sans-serif;
    line-height: 1.15;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    flex: 1 0 auto;

    // a {
    //     color: green;
    //     font-size: 20px;

    //     span {
    //         color: red;
    //     }
    // }
}
a{
    text-decoration: none;
    &:hover, &:focus{
        text-decoration: none;
    }
}
*{
    box-sizing: border-box;
}
.container{
    //width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    @media (min-width: 576px) {
        max-width: 540px;
    }
    @media (min-width: 768px) {
        max-width: 720px;
    }
    @media (min-width: 992px) {
        max-width: 960px;
    }
    @media (min-width: 1200px) {
        max-width: 1140px;
    }
    @media (min-width: 1366px) {
        max-width: 1190px;
    }
}
.fixed-hidden{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    z-index: 10;
    display: none;
    // visibility: hidden;
    // opacity: 0;
    // transition: .3s ease;
    // &.active{
    //     visibility: visible;
    //     opacity: 1;
    // }
}
.breadcrumbs{
    .breadcrumb{
        padding: 15px 0;
        margin: 0;
        list-style: none;
        display: flex;
        li:not(:last-child){
            a:after{
                content: "/";
                padding-left: 4px;
                padding-right: 4px;
                font-size: 14px;
                padding-bottom: 3px;
            }
        }
        li>span{
            color: @main-color;
            cursor: default;
        }
        li{
            a{
                color: #777;
                font-weight: 400;
                transition: .3s ease;
            }
        }
    }
}
h1{
    color: @text-color;
    font-size: 30px;
    margin-bottom: 30px;
}
.custom-scroll() {
    scrollbar-color: @main-color #F2F2F2;
    scrollbar-width: thin;
  
    &::-webkit-scrollbar {
      width: 6px;
    }
  
    &::-webkit-scrollbar-track {
      background: #F2F2F2;
      border-radius: 4px;
    }
  
    &::-webkit-scrollbar-thumb {
      background: #F2F2F2;
      background: @main-color;
      border-radius: 4px;
    }
}
header{
    position: relative;
    padding-bottom: 70px;
    min-height: 350px;
    &.main-page{
        min-height: 100vh;
        h1{
            color: #ddd;
            opacity: .85;
            font-size: 48px;
            width: 60%;
            text-align: center;
            margin: 80px auto;
            line-height: 1.4;
            @media (max-width: 991px){
                font-size: 42px;
                width: 100%;
            }
            @media (max-width: 767px){
                font-size: 32px;
            }
            @media (max-width: 460px){
                font-size: 26px;
            }
        }
    }
    .header_bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        &:after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .6);
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }
    }
    .top-menu{
        padding-top: 15px;
        padding-bottom: 15px;
        position: fixed;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9;
        background: url(/images/header_bg.jpeg);
        background-position: top center;
        background-repeat: no-repeat;
        transition: .3s;
        @media (max-width: 991px){
            padding: 15px 0;
        }
        &:before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .6);
        }
        &.border-show{
            border-bottom: 4px solid white;
        }
    }
    .top-menu * {
        color: #fff;
        transition: .2s;
        &:hover{
            color: @main-color;
        }
    }
    .menu-list{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 991px) {
            flex-direction: column;
            display: none;
        }
    }
    ul.menu-wrap{
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: center;
        li{
            padding: 15px;
            a{
                text-transform: uppercase;
                font-weight: 600;
                position: relative;
                text-decoration: none;
                transition: .3s ease;
                font-size: 14px;
                color: #fff;
                transition: .2s;
                &:hover{
                    color: @main-color;
                }
            }
        }
    }
    .menu-mobile{
        @media (min-width: 992px){
            display: none;
        }
        .menu-wrap{
            display: none;
            @media (max-width: 991px) {
                position: fixed;
                z-index: 100;
                left: -400px;
                top: 0;
                height: 100%;
                margin: 0;
                padding: 0;
                width: 300px;
                padding: 15px 20px;
                font-size: 14px;
                line-height: 2.66;
                overflow-y: auto;
                background-color: #272727;
                transition: .5s;
                display: flex;
                flex-direction: column;
                justify-content: unset;
                border-radius: 0;
                max-width: unset;
                box-shadow: none;
            }
            
            @media (max-width: 460px) {
                width: 295px;
                padding: 16px;
            }
            
            .custom-scroll();
            
            &.show {
                left: 0;
            }
            .close {
                width: 30px;
                height: 30px;
                opacity: 1;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: auto;
            
                &:before,
                &:after {
                  content: "";
                  position: absolute;
                  width: 20px;
                  height: 2px;
                  background: #ffffff;
                  transition: background .3s ease;
                }
            
                &:before {
                  transform: rotate(-45deg);
                }
            
                &:after {
                  transform: rotate(45deg);
                }

            }
            .menu-item{
                padding: 5px 10px;
            }
        }
    }
}
.mobile-btn{
    height: 25px;
    width: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
span.burger {
    z-index: 10;
    display: block;
    position: relative;
    transition: all .3s cubic-bezier(.8, .2, .2, .8);

    span{
      width: 20px;
      height: 2px;
      background: #ffffff;
      display: block;
      margin: 5px 0;
      transition: all .3s cubic-bezier(.8, .2, .2, .8);
    }

}
.top-phone{
    display: flex;
    align-items: center;
    @media (max-width: 991px){
        flex-direction: column;
    }
    a{
        font-size: 18px;
        z-index: 2;
        color: #fff;
        transition: .3s ease;
        text-align: center !important;
        display: flex;
        align-items: center;
        &:first-child{
            margin-right: 15px;
            &:before{
                content: '';
                width: 28px;
                height: 30px;
                display: block;
                margin-right: 9px;
                background: url(/images/phone.svg) no-repeat;
                background-size: cover;
            }
        }
        img{
            display: block;
            margin-right: 10px;
        }
        &:hover{
            color: @main-color;
        }
    }
    .flaticon-apple{
        margin-right: 5px;
        &:before{
            content: "\f139";
            font-family: Flaticon;
        }
    }
}
.main-menu{
    position: relative;
    top: 70px;
    .menu-wrap{
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        a{
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                width: 130px;
            }
            .title{
                text-align: center;
                color: #bbb;
                font-size: 16px;
                width: 70%;
                line-height: 20px;
                transition: .2s;
                
            }
            &:hover{
                .title{
                    color: #fff;
                }
            }
        }
    }
}
.main-product{
    padding: 20px 0;
    background-color: #f8f8f8;
    position: relative;
    padding-bottom: 60px;
    &:before, &:after{
        content: "";
        position: absolute;
        top: -70px;
        left: 0;
        right: 0;
        width: 100%;
        height: 100px;
        background-image: url(/images/after-gray.png);
        background-repeat: no-repeat;
        background-position: center;
        z-index: 1;
    }
    @media (min-width: 1920px){
        .gray_bg:before,
        .gray_bg:after {
            background-size: contain;
        }
    } 
}
.bottom-block{
    background-color: #f8f8f8;
    position: relative;
    &:before,
    &:after {
        content: "";
        position: absolute;
        top: -70px;
        left: 0;
        right: 0;
        width: 100%;
        height: 100px;
        background-image: url(/images/after-gray.png);
        background-repeat: no-repeat;
        background-position: center;
        z-index: 1;
    }
    &:after{
        top: auto;
        bottom: -70px;
        transform: rotate(180deg);
    }
}
.about-page{
    display: flex;
    @media (max-width: 767px){
        flex-direction: column;
    }
    h3{
        font-size: 1.75rem;
        margin-bottom: 15px;
        color: @text-color;
        margin: 10px 0;
    }
    .left-side{
        width: 33.333%;
        padding-right: 30px;
        @media (max-width: 767px) {
            width: 100%;
        }
    }
    .right-side{
        width: 66.666%;
        @media (max-width: 767px) {
            width: 100%;
            margin-top: 15px;
        }
        h3{
            text-transform: uppercase;
        }
        .description{
            margin-top: 10px;
            color: @grey-color;
            line-height: 1.5;
        }
    }
    .advantage-list{
        padding: 0;
        margin: 0;
        li{
            list-style: none;
            display: flex;
            align-items: center;
            padding: 10px 0;
            font-size: 18px;
            font-weight: 600;
            line-height: 1.3;
        }
    }
    .dropcap{
        flex: none;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        background: @main-color;
        color: #fff;
        border-radius: 50%;
        font-size: 24px;
        font-weight: 600;
    }
}
.contact-block{
    border: 1px solid #f5f5f5;
    border-radius: 15px;
    padding: 20px 25px;
    background-color: #fff;
    height: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, .05);
    .contact-item{
        padding: 15px 0;
        strong{
            font-size: 18px;
            font-weight: bolder;
            display: flex;
            align-items: center;
            &:before {
                content: '';
                width: 20px;
                height: 24px;
                display: block;
                margin-right: 15px;
            }
            &.address{
                &:before{
                    background: url(/images/maps.svg);
                }
            }
            &.phone {
                &:before {
                    background: url(/images/phone.svg);
                }
            }
            &.logo {
                &:before {
                    width: 50px;
                    height: 50px;
                    background: url(/images/logo.svg) center center no-repeat;
                    background-size: contain;
                }
            }
        }
        .contact-info{
            padding-top: 15px;
            color: @grey-color;
            line-height: 1.5;
            a{
                display: block;
                margin: 0;
                color: @grey-color;
                line-height: 1.5;
                transition: .2s;
                &:hover{
                    color: @main-color;
                }
                &:first-child{
                    margin-bottom: 10px;
                }
            }
        }
        &.center-flex {
            display: flex;
            align-items: center;
        }
    }
    .item-separator{
        width: 100%;
        height: 1px;
        background-color: #f2f2f2;
        margin: 15px 0;
    }
}
.hide-block{
    position: fixed;
    width: 100%;
    max-height: 100%;
    padding: 15px;
    margin: 15px 0;
    overflow: auto;
    max-width: 800px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 10;
    display: none;
    .custom-scroll();
    img{
        width: 100%;
        border-radius: 15px;
    }
    .close {
        width: 30px;
        height: 30px;
        opacity: 1;
        border-radius: 50%;
        position: absolute;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 5px;
        right: 5px;
        transition: .3s;
        background: #FFFFFF;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
        border-radius: 50%;
    
        &:before,
        &:after {
          content: "";
          position: absolute;
          width: 16px;
          height: 2px;
          background: #828282;
          transition: background .3s ease;
        }
    
        &:before {
          transform: rotate(-45deg);
        }
    
        &:after {
          transform: rotate(45deg);
        }
        &:hover {
            opacity: 1;
            transform: scale(1.05);
            &:before,
            &:after {
                background: @main-color;
            }
        }
        @media (max-width: 767px) {
            right: 15px;
            top: 15px;
            box-shadow: none;
        }
    }
}
.product{
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    @media (max-width: 767px){
        margin: -5px;
    }
    .product-wrap{
        padding: 15px;
        width: 25%;
        @media (max-width: 991px){
            width: 33.333%;
        }
        @media (max-width: 767px){
            width: 50%;
            padding: 5px;
        }
        .product-item{
            display: block;
            padding: 20px;
            border-radius: 15px;
            background-color: #fff;
            box-shadow: 0 0 15px rgba(0,0,0,.05);
            font-size: 16px;
            transition: .3s ease;
            overflow: hidden;
            @media (max-width: 767px){
                padding: 10px;
            }
            &:hover{
                box-shadow: 0 0 15px rgba(0,0,0,.15);
            }
            .img-wrap{
                cursor: pointer;
                img{
                    width: 100%;
                }
            }
            .product-content{
                .title{
                    margin: 0;
                    margin-bottom: 5px;
                    color: @text-color;
                    text-align: center;
                    font-size: 18px;
                    line-height: 24px;
                    transition: .2s;
                    cursor: pointer;
                    &:hover{
                        color: @main-color;
                    }
                    @media (max-width: 767px){
                        font-size: 16px;
                    }
                }
                .small-title{
                    color: #868686;
                    font-size: 16px;
                    line-height: 20px;
                    text-align: center;
                    margin-bottom: 15px;
                    font-style: italic;
                    @media (max-width: 767px){
                        font-size: 14px;
                    }
                }
                .price{
                    text-align: center;
                    display: block;
                    color: @main-color;
                }
                
            }
        }
    }
}

footer {
    //background: #f8f8f8;
    position: relative;
    color: #ddd;
    font-size: 18px;
    .footer_bg{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        &:after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .6);
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
            transform: rotate(180deg);
        }
    }
    .footer-top{
        padding: 150px 0 100px 0;
    }
    .footer-bottom{
        border-top: 1px solid rgb(0, 0, 0);
        padding: 25px 0;
        background: rgba(0, 0, 0, 0.5);
    }
}

footer {
    flex: 0 0 auto;
}